index recursion.ipynb
.vscode/
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Untitled.ipynb
__pycache__/example_list.cpython-311.pyc
Untitled1.ipynb
__pycache__/example_list.cpython-311.pyc